
.Name{

text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);
  font-weight: bold;
}
.wrapper{
  background-image:url(https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98b1cd2ea86a7b4796275ef13aadafbf&auto=format&fit=crop&w=800&q=60);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  height:100%;
  width:100%;
    background-attachment:fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    display:block;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
html,body{
        height:100%;
        width:100%;
         min-height:100%;
         margin: 0px;
   padding: 0px;
   overflow-x: hidden;
}
.wrapper2
{
  background:#212529;
  text-align: center;
  color:#fff;
  font-family: 'Nixie One', cursive;
  font-weigth:800;

}

h1{
      font-family: 'Nixie One', cursive;
      text-transform: lowercase;
        font-weight: bold;
        font-size: 5rem;
    }
hr  {
  width:42rem;
  background: black;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,.2);
  }
.social{
  font-size: 1.5rem;
}
ul.social{
  list-style:none;
  margin:0;
  padding-left:0;
}
ul.social li{
margin-right: 1rem;
display:inline-block;
}
ul.skill{
  list-style:none;
  margin:0;
  padding-left:0;

}
ul.skill li{
margin-right: 1rem;
display:inline-block;
}
.fa{
  color:#212529;
}
.image {
background-size: cover;
background-position: center;
height:12rem;
margin-top: 3%;
}
@media(max-width: 800px)
{

    #lastName{

      font-size:3.2rem;
      font-weight: bold;
      margin: 0px;
      padding: 0px;


}
